.wrapper {
    height: 305px;
    border-radius: 8px;
    border: 1px #D5D9D9 solid;
}

.top {
    display: flex;
    justify-content: space-between;

    height: 65px;
    padding-top: 15px;
    padding-left: 18px;
    padding-right: 18px;

    background-color: #F0F2F2;
    border-bottom: 1px #D5D9D9 solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    color: #565959;
}

.topLeft {
    display: flex;
    gap: 50px;
}

.label {
    font-size: 12px;
    line-height: 16px;
}

.value {
    font-size: 14px;
    line-height: 20px;
}

.bottom {
    display: flex;
    justify-content: space-between;

    padding: 18px;
}

.status {
    color: #0F1111;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

.reviewButton {
    width: 220px;

    font-size: 13px;
    line-height: 29px;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    border: 1px solid #D5D9D9;
    text-align: center;

    cursor: pointer;
}

.reviewButton:hover {
    background-color: #F7FAFA;
    border-color: #D5D9D9;
}
