.wrapper {
    height: 305px;
    border-radius: 8px;
    border: 1px #D5D9D9 solid;
}

.top {
    display: flex;
    justify-content: space-between;

    height: 65px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: #F0F2F2;
    border-bottom: 1px #D5D9D9 solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    color: #565959;
}

.left {
    display: flex;
    gap: 50px;
}

.label {
    font-size: 12px;
    line-height: 16px;
}

.value {
    font-size: 14px;
    line-height: 20px;
}
