.wrapper {
    position: absolute;
    top: 54px;

    display: flex;
    flex-direction: column;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.wrapperSignedOut {
    position: absolute;
    top: 54px;

    display: flex;
    flex-direction: column;

    width: 165px;
    padding-top: 15px;
    padding-bottom: 15px;

    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

.triangle {
    position: absolute;
    top: 46px;
    margin-left: 110px;

    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
}

.background {
    position: fixed;
    top: 60px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    z-index: 4;
}

.signInWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signIn {
    width: 115px;
    height: 33px;
    padding: 5px 6px;
    margin-bottom: 20px;

    border: 1px solid #a88734;
    border-radius: 3px;

    background: linear-gradient(0deg, rgba(240, 194, 77, 1) 0%, rgba(246, 221, 160, 1) 100%);

    color: #111111;
    font-size: 14px;
    text-align: center;

    cursor: pointer;
}

.demo {
    margin-top: -10px;
}

.signIn:hover {
    background: linear-gradient(0deg, rgba(238, 186, 53, 1) 0%, rgba(244, 213, 137, 1) 100%);
}

.signIn:active {
    background: linear-gradient(0deg, #f0c14b 0%, #f0c14b 100%);
    filter: drop-shadow(0px 0px 3px #e88420);
    box-shadow: inset 0px 0px 1px black;
}

.new {
    color: #333333;
    font-size: 11px;
    margin-top: -10px;
}

.link {
    font-size: 13px;
    color: #444444;
    font-weight: 400;
}

.YourAccount {
    color: #0F1111;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 5px;
}
