.superWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex;
}

.filter {
    background-color: white;
}

.title {
    color: #0F1111;
    font-size: 20px;
    margin-bottom: 7px;
}

.moreResults {
    margin-top: 20px;
}

.content {
    display: grid;

    padding-right: 5px;

    column-gap: 9px;

    row-gap: 9px;
}

.emptyResults {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.continue {
    width: 136px;
    align-self: center;

    padding: 5px 5px;

    background: #FFD814;
    border: 1px solid #FCD200;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);

    color: #0F1111;
    font-size: 14px;
    text-align: center;

    cursor: pointer;

}

.continue:hover {
    background: #F7CA00;
    border-color: #F2C200;
    color: #0F1111;
    text-decoration: none;
}

@media screen and (min-width: 1880px) {
    .wrapper {
        max-width: 1790px;
        justify-content: center;
    }

    .content {
        max-width: 1250px;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .filter {
        width: 390px;
    }
}

@media screen and (min-width: 1320px) and (max-width: 1879px) {
    .content {
        max-width: 1250px;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .filter {
        width: 250px;
    }
}

@media screen and (min-width: 820px) and (max-width: 1319px) {
    .content {
        max-width: 750px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .filter {
        width: 250px;
    }
}

@media screen and (min-width: 580px) and (max-width: 819px) {
    .content {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 579px) {
    .content {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
