.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.content {
    background-color: white;
    width: 80vw;
    padding: 20px;
}

.heading {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
}

.priceLabel {
    color: #565959;
    text-align: right;
    font-size: 14px;
    line-height: 20px;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #dddddd;
    margin-bottom: 25px;
}
