.cartButton {
    /* cursor: pointer; */
    cursor: not-allowed;
    font-size: 20px;
    margin: 0px 10px;
    margin-top: 7.5px;
}

.cartButton i {
    color: white;
}

.row {
    display: flex;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}

.label {
    align-self: flex-end;

    margin-bottom: -2.5px;

    font-size: 15px;
    color: white;
    font-weight: 700;
}

.quantity {
    position: absolute;
    margin-left: 18.5px;
    margin-top: -8px;

    font-weight: 700;
    color: #f08804;
}
