.wrapper {
    width: 90px;
    padding-left: 9px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 9px;
    margin-top: -5px;

    border: 1px solid transparent;
    border-radius: 2px;
    color: white;

    cursor: pointer;
}

.wrapper:hover {
    border: 1px solid white;
    text-decoration: none;
}

.cart {
    background-image: url("https://d1irxr40exwge2.cloudfront.net/header-logo.png");
    width: 41px;
    height: 28px;
    background-position: -218px -337px;
}

.row {
    display: flex;
}

.label {
    align-self: flex-end;

    color: white;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}

.quantity {
    position: absolute;
    margin-left: 18.5px;
    margin-top: -2px;

    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #f08804;
}

.largeQuantity {
    position: absolute;
    margin-left: 15px;
    margin-top: -2px;

    font-size: 15px;
    line-height: 16px;
    font-weight: 700;
    color: #f08804;
}
