.wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;

    font-size: 14px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #232f3e;
    color: white;

    height: 80px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
}

.link {
    display: flex;
    gap: 5px;
    color: white;
}

.link:hover {
    color: white;
    filter: brightness(100%) sepia(100) saturate(100) hue-rotate(-50deg);
}

.linkedinIcon {
    height: 25px;
}

.githubText {
    height: 30px;
}

.githubIcon {
    height: 30px;
}
