.pageContainer {
    position: relative;
    min-height: 100vh;
}

.cartContainer {
    background-color: #eaeded;
}

.cartConfirmation {
    background-color: #f3f3f3;
}

.contentWrapperHomepage {
    padding-bottom: 180px;
    background-color: #e3e6e6;
}

.contentWrapper {
    padding-bottom: 180px;
}
