@font-face {
    font-family: "Amazon Ember";
    font-weight: 400;
    src: url('https://d1irxr40exwge2.cloudfront.net/AmazonEmber_Rg.ttf');
}

@font-face {
    font-family: "Amazon Ember";
    font-weight: 500;
    src: url('https://d1irxr40exwge2.cloudfront.net/Amazon-Ember-Medium.ttf');
}

@font-face {
    font-family: "Amazon Ember";
    font-weight: 700;
    src: url('https://d1irxr40exwge2.cloudfront.net/AmazonEmber_Bd.ttf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Amazon Ember", Arial, sans-serif;
}

a {
    color: #0066c0;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    color: #c45500;
}

.prime {
    background-image: url("https://d1irxr40exwge2.cloudfront.net/labels.png");
    background-repeat: no-repeat;

    width: 53px;
    height: 15px;
    background-position: -185px -182px;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
