.subtotalPane {
    width: 290px;

    border: 1px #D5D9D9 solid;
    border-radius: 8px;
    padding: 15px 20px;
}

.proceed {
    height: 35px;

    background: #FFD814;
    border: 1px solid #FCD200;
    cursor: pointer;

    font-size: 13px;
    line-height: 29px;
    color: #0F1111;
    text-align: center;
    border-radius: 7px;

    padding: 2px 10px 0 11px;
    margin-bottom: 10px;
}

.proceed:hover {
    background: #F7CA00;
    border-color: #F2C200;
}

.proceed:active {
    background: #F0B800;
    border-color: #008296;
    box-shadow: 0 0 0 3px #c8f3fa, inset 0 0 0 2px #ffffff;
}

.terms {
    font-size: 12px;
    line-height: 16px;
    color: #565959;
}

.link {
    color: #007185;
}

.link:hover {
    color: #C7511F;
}

.jokeTerms {
    margin-top: 15px;
    font-size: 12px;
    color: #111111;
}

.jokeTerms2 {
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 12px;
    color: #111111;
}

.orderSummaryHeading {
    margin-bottom: 15px;
}

.row {
    display: flex;
    justify-content: space-between;

    margin-top: 5px;

    font-size: 12px;
    line-height: 14px;
    color: #0F1111;
}

.line2 {
    height: 1px;
    width: 100%;
    background-color: #bbbfbf;

    margin: 10px 0px;
}

.line3 {
    height: 1px;
    width: 70px;
    background-color: #bbbfbf;
}

.totalBottom2 {
    display: flex;
    justify-content: space-between;

    color: #B12704;
    text-rendering: optimizeLegibility;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}
