.wrapper {
    margin-top: 15px;
    margin-left: 20px;
}

.bar {
    display: flex;
}

.heading {
    font-size: 25px;
}

.columnHeaders {
    display: flex;
    padding-left: 5px;
    gap: 10px;
    font-weight: 700;
    align-items: flex-end;
}

.image {
    width: 50px;
}

.title {
    padding-left: 10px;
    width: 60vw;
}

.date {
    width: 180px;
}

.line {
    height: 1px;
    background-color: #bfbebe;
    width: 100%;
    margin: 10px 0px;
}

.emptyWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.addProductWrapper {
    display: flex;
    justify-content: flex-end;
    width: 1350px;
}

.addProductWrapperEmpty {
    display: flex;
}

.inventory {
    display: flex;
    flex-direction: column;
}

.addProduct {
    width: 115px;
    height: 33px;
    padding: 5px 6px;
    margin-bottom: 20px;

    border: 1px solid #a88734;
    border-radius: 3px;

    background: linear-gradient(0deg, rgba(240, 194, 77, 1) 0%, rgba(246, 221, 160, 1) 100%);

    color: #111111;
    font-size: 14px;
    text-align: center;

    cursor: pointer;
}

.addProduct:hover {
    background: linear-gradient(0deg, rgba(238, 186, 53, 1) 0%, rgba(244, 213, 137, 1) 100%);
}

.addProduct:active {
    background: linear-gradient(0deg, #f0c14b 0%, #f0c14b 100%);
    filter: drop-shadow(0px 0px 3px #e88420);
    box-shadow: inset 0px 0px 1px black;
}
