.wrapper {
    height: 100px;
    height: 300px;
    max-height: 129.6px;

    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: #222222;
    gap: 0.2rem;
}

.title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    overflow: hidden;
    font-size: 16px;
    line-height: 24px;
}

.rating {
    display: flex;
    align-items: center;
}

.price {
    font-size: 1rem;
    font-weight: 200;
}
