.headerWrapper {
    display: flex;
    justify-content: center;
    background-color: #131921;
}

.header {
    display: flex;
    align-items: flex-start;

    width: 100vw;
    max-width: 1200px;
    margin: 10px 0px;
}
