.wrapper {
    margin-top: 1.5rem;
}

.reviewList {
    display: flex;
    flex-direction: column;
}

.reviewText {
    max-height: 5rem;

    margin-top: 5px;
    margin-bottom: 0.5rem;
    padding-left: 3px;

    font-size: 1rem;
    font-weight: 200;
    line-height: 1.8rem;

    color: #525252;
    overflow-y: hidden;
}

.buyerInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.buyerPicture {
    font-family: serif;
    color: #f1641e;
    font-size: 30px;
}

.buyerPicture>img {
    width: 35px;
    height: 35px;
    border-radius: 100px;
}

.buyerName {
    font-size: 12.5px;
    color: #646464;
}

.reviewDate {
    font-size: 12.5px;
    color: #646464;
}
