.wrapper {
    width: 135px;
    padding-left: 9px;
    padding-right: 7px;
    padding-top: 8px;
    padding-bottom: 3px;
    margin-right: 5px;
    margin-top: -5px;

    color: white;
    border: 1px solid transparent;

    cursor: pointer;
}

.wrapper:hover {
    border: 1px solid white;
}

.row1 {
    font-size: 14px;
    font-weight: 500;
}

.row2 {
    display: flex;
    gap: 5px;
}

.row2>img {
    object-fit: scale-down;
}

.row2row1 {
    font-size: 15px;
    font-weight: 700;
    line-height: 11px;
}
