.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5px;
}

.signInWrapper {
    display: flex;
    align-items: center;
}

.signIn {
    cursor: pointer;
    width: 50px;
}
