.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.logo {
    margin-bottom: 12px;
}

.form {
    width: 350px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px 25px;

    display: flex;
    flex-direction: column;
}

.signIn {
    font-size: 28px;
}

.emailWrapper {
    margin-top: 12px;
    margin-bottom: 14px;
}

.emailLabel {
    font-size: 13px;
    font-weight: 700;
}

.emailField {
    height: 31px;
    width: 100%;
    margin-top: 2px;

    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;

    text-indent: 7px;
}

.emailField:focus {
    outline: none;
    border: 1px solid #e77601;
    filter: drop-shadow(0px 0px 2px #e88420);
}

.continue {
    width: 100%;
    padding: 5px 6px;
    margin-bottom: 20px;

    border: 1px solid #a88734;
    border-radius: 3px;

    background: linear-gradient(0deg, rgba(240, 194, 77, 1) 0%, rgba(246, 221, 160, 1) 100%);

    color: #111111;
    font-size: 14px;
    text-align: center;

    cursor: pointer;
}

.continue:hover {
    background: linear-gradient(0deg, rgba(238, 186, 53, 1) 0%, rgba(244, 213, 137, 1) 100%);
}

.continue:active {
    background: linear-gradient(0deg, #f0c14b 0%, #f0c14b 100%);
    filter: drop-shadow(0px 0px 3px #e88420);
    box-shadow: inset 0px 0px 1px black;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.terms {
    font-size: 12px;
    color: #111111;
    margin-bottom: 30px;
}

.wrapper a {
    color: #0066c0;
    text-decoration: none;
}

.wrapper a:hover {
    text-decoration: underline;
    color: #c45500;
}

.demoWrapper {
    display: flex;
    gap: 7px;
}

.rightArrow {
    background-image: url("../../../public/images/atlas.png");
    background-repeat: no-repeat;
    width: 4px;
    height: 7px;
    background-position: -366px -86px;

    align-self: center;
}

.demo {
    font-size: 13px;
    color: #0066c0;
    cursor: pointer;
}

.newWrapper {
    margin-top: 20px;
    width: 350px;
}

.line {
    text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    margin-bottom: 14px;
    line-height: 0;
}

.new {
    line-height: 1;
    font-size: 12px;
    color: #767676;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: white;
    padding: 0 8px 0 7px;
}

.line::after {
    content: "";
    width: 100%;
    display: block;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-top: -1px;
}

.create {
    text-align: center;
    color: #111111;
    font-size: 13px;
    line-height: 29px;

    background: linear-gradient(0deg, #e7e9ec 0%, #f6f7f9 100%);

    border: 1px solid #adb1b8;
    border-radius: 3px;

    cursor: pointer;
}

.create:hover {
    background: linear-gradient(0deg, #d9dce1 0%, #e6e9ef 100%);
}

.create:active {
    background: linear-gradient(0deg, #d5d8dc 0%, #ccced2 100%);
    filter: drop-shadow(0px 0px 3px #e88420);
    box-shadow: inset 0px 0px 1px red;
}
