.wrapper {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    max-width: 1200px;

    padding-top: 2vh;

    column-gap: 1vw;
    row-gap: 1vh;
}

.signIn {
    font-size: 30px;
}
