.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e3e6e6;
    z-index: -20;
}

@media screen and (min-width: 1500px) {
    .cards {
        width: 1500px;
        display: flex;
        gap: 20px;

        margin-top: 250px;
        margin-left: 40px;
    }
}

@media screen and (max-width: 1499px) {
    .cards {
        width: 1000px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        margin-top: 250px;
        margin-left: 40px;
    }
}


.banner {
    position: absolute;
    height: 600px;
    /* width: 100%; */
    max-width: 98.7vw;
    object-fit: cover;
    cursor: pointer;
    z-index: 1;
}

.filler {
    height: 50px;
}
