.wrapper {
    width: 80px;
    margin: 0px 10px;

    border: 1px solid transparent;
    color: white;

    cursor: pointer;
}

.wrapper:hover {
    border: 1px solid white;
}

.row1 {
    font-size: 14px;
    font-weight: 500;
}

.row2 {
    font-size: 16px;
    font-weight: 700;
}
