.wrapper {
    height: calc(100% - 8px);
    max-width: 374px;
    min-width: 240px;
    margin-bottom: 8px;

    border: 1px solid #f5f5f5;
    border: 1px solid black;
    border-radius: 4px;
}

.image {
    object-fit: cover;
    border-radius: 4px;
    width: 100%;
    filter: brightness(97.25%);
}
