.wrapper {
    display: flex;
    flex-direction: column;
    height: 266px;
    width: 320px;
    min-width: 320px;
    border: 1px solid #C7C7C7;
    border-radius: 8px;
    box-shadow: 0 2px 1px 0 rgb(0 0 0 / 16%);

    color: #0F1111;
    font-size: 14px;
    line-height: 20px;

    padding-top: 20px;
    padding-left: 20px;
}

.name {
    font-weight: 700;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: auto;
    padding-bottom: 15px;
}

.remove {
    color: #0066c0;
    text-decoration: none;
    cursor: pointer;
}

.remove:hover {
    text-decoration: underline;
    color: #c45500;
}
