.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 245px;

    border: 1px solid #D5D9D9;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: none;
}

.tabs {
    display: flex;
    width: 100%;
    height: 51px;
    cursor: pointer;
}

.deliveryTabWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 1px);
    border-top: 1px solid #C7511F;
}


.deliveryTabText {
    color: #C7511F;
    font-weight: 700;
    line-height: 20px;
    font-size: 14px;
}

.pickupTabWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

    background-color: #F3F3F3;
    box-shadow: inset 0 -1.7px 0 0 #ddd;
    border-left: 1px solid #D5D9D9;
    border-top: 1px solid #D5D9D9;
}

.pickupTabWrapperMouseEnter {
    border-top: 1px solid #C7511F;
}

.pickupTabText {
    color: #007185;
    cursor: pointer;
    line-height: 14px;
    font-size: 14px;
}

.pickupTabTextMouseEnter {
    color: #C7511F;
}

.content {
    width: 206px;
    margin-top: 18Spx;
}

.price {
    display: flex;
    gap: 4px;
}

.count {
    color: #0F1111;
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;
}

.prime {
    margin-top: 5px;
}

.freeReturns {
    margin-top: 5px;
    color: rgb(0, 113, 133);
    font-size: 14px;
    line-height: 20px;
}

.delivery {
    margin-top: 12px;
    font-size: 14px;
    line-height: 20px;
}

.date {
    font-weight: 700;
}

.deadline {
    color: #007600;
}

.hr {
    background-color: transparent;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top: 1px solid #e7e7e7;
    display: block;
    height: 1px;
    line-height: 19px;
    margin-bottom: 14px;
    margin-top: 8px;
}
