.wrapper {
    width: 206px;
    margin-top: 18px;
}

.price {
    display: flex;
    gap: 4px;
}

.count {
    color: #0F1111;
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;
}

.prime {
    margin-top: 5px;
}

.freeReturns {
    margin-top: 5px;
    color: rgb(0, 113, 133);
    font-size: 14px;
    line-height: 20px;
}

.delivery {
    margin-top: 12px;
    font-size: 14px;
    line-height: 20px;
}

.date {
    font-weight: 700;
}

.deadline {
    color: #007600;
}

.inStock {
    margin-top: 8px;
    color: #007600;
    font-size: 18px;
    line-height: 24px;
}

.addToCart {
    margin-top: 12px;
    margin-bottom: 8px;

    background: #FFD814;
    border: 1px solid #FCD200;
    border-radius: 20px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);

    font-size: 13px;
    line-height: 29px;
    color: #0F1111;
    text-align: center;
    vertical-align: middle;

    cursor: pointer;

    text-rendering: optimizeLegibility;
}

.addToCart:hover {
    background: #F7CA00;
}

.buyNow {
    margin-bottom: 8px;

    background: #FFA41C;
    border-color: #FF8F00;
    border-radius: 20px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);

    font-size: 13px;
    line-height: 31px;
    color: #0F1111;
    text-align: center;
    vertical-align: middle;

    cursor: pointer;

    text-rendering: optimizeLegibility;
}

.buyNow:hover {
    background: #FA8900;
}

.secure {
    display: flex;
    gap: 13px;

    margin-top: 10px;
    color: #007185;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
}

.secure:hover {
    color: #c45500;
}

.secureText {
    margin-top: 2px;
}

.secureIconWrapper {
    display: inline-flex;
    align-items: center;
}

.details {
    margin-top: 13px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.details>div {
    display: flex;
}

.detailsLabel {
    color: #565959;
    font-size: 12px;
    line-height: 16px;
    min-width: 69px;
}

.detailsText {
    color: #0F1111;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
