.wrapper {
    display: flex;
    justify-content: center;
}

.content {
    margin-top: 10px;
    margin-left: 20px;
    width: 920px;
}

.purchases {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navInfo {
    margin-bottom: 15px;

    color: #565959;
    font-size: 14px;
    line-height: 20px;
}

.youAreHere {
    color: #c45500;
}

.bar {
    display: flex;
}

.heading {
    font-size: 25px;
    width: 100%;
    color: #0F1111;
    font-weight: 400;
    line-height: 36px;
    font-size: 28px;
    margin-bottom: 25px;
}

.paginationBar {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 10px;
}

.paginationButton {
    padding: 8px 12px 7px 13px;


    border: 1px solid #6c6e73;
    border-radius: 8px;

    color: #0F1111;
    line-height: 16px;
    font-size: 14px;

    cursor: pointer;
}

.paginationButton:hover {
    background-color: #F7FAFA;
    border-color: #D5D9D9;
}

.disabled {
    background-color: rgb(162, 162, 162);
    cursor: not-allowed;
}

.disabled:hover {
    background-color: rgb(162, 162, 162);
    border: 1px solid #6c6e73;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
