.wrapper {
    width: 100%;
    height: 40px;
    background-color: #232F3E;
    z-index: 4;
}

.linksWrapper {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 10px;
    overflow: hidden;
}

.link {
    color: white;
    margin: 1px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 12px;
}

.link:hover {
    color: white;
    border: 1px solid white;
    margin: 0px;
    text-decoration: none;
    border-radius: 1px;
}
