.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
}

.form {
    width: 850px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px 20px;

    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 28px;
    margin-bottom: 15px;
}

.fieldWrapper {
    margin-bottom: 12px;
}

.fieldLabel {
    font-size: 13px;
    font-weight: 700;
}

.fieldInput {
    height: 31px;
    width: 100%;
    margin-top: 2px;

    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;

    text-indent: 7px;
}

.imageWrapper {
    display: flex;
    flex-direction: column;
}

.imageInput {
    margin-top: 5px;
}

.imageLabel {
    margin-top: 5px;
}

.fieldInput:focus {
    outline: none;
    border: 1px solid #e77601;
    filter: drop-shadow(0px 0px 2px #e88420);
}

.fieldTextarea {
    height: auto;
    width: 100%;
    margin-top: 2px;

    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;

    text-indent: 7px;
    padding-top: 5px;
}

.fieldTextarea:focus {
    outline: none;
    border: 1px solid #e77601;
    filter: drop-shadow(0px 0px 2px #e88420);
}

.errorInput {
    border-color: #d00;
    box-shadow: 0 0 0 3px rgb(221 0 0 / 10%) inset;
}

.errorInput:focus {
    border-color: #d00;
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
}

.errorWrapper {
    margin-top: 5px;
    display: flex;
    gap: 7px;
}

.errorIcon {
    background-image: url("../../../public/images/atlas.png");
    background-repeat: no-repeat;
    align-self: center;

    background-position: -141px -130px;
    height: 13px;
    width: 5px;

    margin-left: 2px;
}

.errorText {
    font-size: 12px;
    line-height: 15px;
    color: #c40000;
}

.warningIcon {
    background-image: url("../../../public/images/atlas.png");
    background-repeat: no-repeat;
    align-self: center;

    background-position: -166px -130px;
    height: 13px;
    width: 5px;
    margin-left: 2px;
}

.warningText {
    font-size: 12px;
    line-height: 15px;
    color: #2b2b2b;
}

.continue {
    width: 100%;
    padding: 5px 6px;
    margin-top: 2px;
    margin-bottom: 28px;

    border: 1px solid #a88734;
    border-radius: 3px;

    background: linear-gradient(0deg, rgba(240, 194, 77, 1) 0%, rgba(246, 221, 160, 1) 100%);

    color: #111111;
    font-size: 14px;
    text-align: center;

    cursor: pointer;
}

.continue:hover {
    background: linear-gradient(0deg, rgba(238, 186, 53, 1) 0%, rgba(244, 213, 137, 1) 100%);
}

.continue:active {
    background: linear-gradient(0deg, #f0c14b 0%, #f0c14b 100%);
    filter: drop-shadow(0px 0px 3px #e88420);
    box-shadow: inset 0px 0px 1px black;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.image {
    width: 250px;
}
