.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 100%;

    margin-bottom: 25px;

    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    box-shadow: 0px 0px 10px #dddddd;

    font-size: 14px;
    line-height: 20px;
    color: #0F1111;
    text-rendering: optimizeLegibility;
}

.content {
    width: 1785px;
}

.keywords {
    color: #c45500;
    font-weight: 700;
}
