.wrapper {
    display: flex;
    cursor: pointer;
    margin-right: -30px;
    margin-top: 5px;
    margin-left: 10px;
}

.logo {
    transform: scale(.85);
}

.prime {
    position: relative;
    top: 23px;
    right: 44px;

    background-image: url("../../../../public/images/header-logo.png");
    background-position: -160px -10px;
    width: 45px;
    height: 17px;
}
