.wrapper {
    display: flex;
    cursor: pointer;
}

.logo {
    transform: scale(.85);
}

.prime {
    position: relative;
    top: 23px;
    right: 44px;

    background-image: url(https://m.media-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
    background-position: -160px -10px;
    width: 45px;
    height: 17px;
}
